html {
	height: 100%;
}
body {
    margin: 0;
    height: 100%;
    position: relative;
}

header {
	background-image: url('../images/header-accueil.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    height: 500px;
    margin-top: -50px;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

#header-title {
	padding: 15px;
	color: #ffa500;
	border-radius: 15px;
}

#wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
	position: relative;
	margin-top: 80px;
}

/*A verifier si le menu s'affiche ou non au clique sur l'icone en responsive*/
/*.collapse:not(.show) {
    display: flex!important;
}
*/

.container {
    max-width: 1200px;
    width: 100%;
    max-height: 100%;
    margin: auto;
}

.container-fluid {
    padding: 0!important;
    margin: 0!important;
}

.btn {
	background-color: #ffa500!important;
	color: white!important;
	border-color: white!important;
	margin-right: 5px;
}

#introduction {
	display: flex;
	border: solid #808080 5px;
}

#introduction > img {
	padding: 10px;
	max-width: 100%;
	height: auto;
}

#introduction > p {
	padding: 15px;
}

#chapters .paragraphChapter {
    color: #808080;
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
}

#chapters {
    margin:auto;
}

#chapters .paragraphChapter .commentBtn {
	margin-top: 15px;
}

.chapterLink {
	color: black;
	text-decoration: none!important;
	margin-bottom: 15px!important;
}

a {
    text-decoration: none;
    color: blue;
}

form {
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 15px;
}

.comments {
	border: solid 1px #ffc266;
	margin: 12px!important;
	padding: 12px;
	width: 80%;
}

#comment-form {
	padding: 10px!important;
	background: #f2f2f2;
	box-shadow: 2px 2px #f2f2f2;
}

.comment-form {
	border: none!important;
}

#manageComment .comment-form {
	height: auto;
}

.btn-danger, .btn-success, .btn-secondary {
	border-radius: 5px;
}

.btn-form {
	border: none;
	padding: 0;
	margin: 3px 10px;
}

.row {
	margin: 30px 0!important;
}

.reported-form {
	border: none;
	padding: 0;
	margin: 0;
}

.isReported {
	font-style: italic; 
}


.note {
	font-size: small;
}

#administration-menu {
	margin-bottom: 30px;
}

/*Espacement du tinyMCE*/
#post_title {
	margin-bottom: 15px;
}

.validation-admin-form {
	border: none;
	padding: 0;	
}

footer {
	bottom: 0;
	color: white;
	margin-top: 30px;
}

/**************** MEDIA-QUERIES ********************/
@media screen and (max-width: 750px) {
	#introduction > img {
		display: none;
	}

	.comments {
		margin: 0;
	}
}